<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chariotinstruments.chariotgauge"
    android:versionCode="8"
    android:versionName="1.4.1" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name" 
        android:screenOrientation="portrait"
        android:finishOnTaskLaunch="true">
        <activity
            android:theme="@style/Theme.D1"
            android:label="@string/app_name"
            android:name=".PSensor"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:screenOrientation="portrait"
                  android:noHistory="true"
                  android:configChanges="orientation|keyboardHidden" />
        
        <activity android:name=".BoostActivity"
            android:theme="@style/Theme.D1"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".ConnectionActivity"
            android:theme="@style/Theme.D1"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".WidebandActivity"
            android:theme="@style/Theme.D1"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".OilActivity"
            android:theme="@style/Theme.D1"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".TwoGaugeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.D1"
            android:noHistory="true"/>
        <activity android:name=".FourGaugeActivity"
            android:theme="@style/Theme.D1"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".TemperatureActivity"
            android:theme="@style/Theme.D1"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        
    </application>

</manifest>